.btns {
  font-family: 'Staatliches', cursive;
  background-color: #27a527;
  border-radius: 6px;
  transition: 0.4s;
  border: 3px solid 'red';
  &:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }
}

#root {
  background-color: #FFDB58;
  height: 100vh;
  overflow: auto;
}
