.item-card {
  font-family: 'Staatliches', cursive;
  zoom: 0.3;
  .food-pic {
    img {
      background-image: linear-gradient(#0a70da, #159db3, #10b197);
      object-fit: contain;
    }
  }
  .add-btn {
    color: green;
  }
}
