.modal {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  .modal-pic {
    zoom: 1.3;
    background-image: url(https://media2.giphy.com/media/ozf26DV8FqaCpkYt6n/giphy.gif);
    background-repeat: no-repeat;
    // border: 1px solid black;
    position: relative;
    height: 400px;
    width: 28%;
    .modal-content {
      position: absolute;
      text-align: center;
      top: 36%;
      left: 26%;
    }
    .close {
      zoom: 1.5;
      color: black;
      float: right;
      &:hover {
        color: cyan;
        cursor: pointer;
      }
    }
  }
}
