.profile {
  position: absolute;
  bottom: 50%;
  left: 35%;
  border: 5px dotted #27a527;
  width: 30%;
  padding: 40px;
  font-family: "Staatliches";
  font-size: 20px;
  h1 {
    font-family: "Staatliches";
    text-align: center;
    color: red;
    text-shadow: 2px 2px #16d6f7;
    font-size: 60px;
  }
}
