.store-wrapper {
  font-family: 'Staatliches', cursive;
  display: flex;
  justify-content: center;

}





//
// .glassdoors {
//   display: flex;
//   flex-direction: row;
//   position: absolute;
//   z-index: 1;
//   .door1 {
//     left: 0;
//     background-color: blue;
//   }
//   .door2 {
//     right: 0;
//     background-color: red;
//   }
// }
